<div class="calling-card-section clearfix" id="calling_cards"><!-- CALLING CARDS SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Calling Cards</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="map-note clearfix"><!-- MAP NOTE -->
                                <h4>Please select the country you would call from to see the available cads or check the best rates</h4>
                            </div>
                            <div class="calling-card-countries-list clearfix"><!-- AVAILABLE COUNTRY LIST -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Select Country <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Austria">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Austria.png") }}" alt="Austria"> Austria
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Belgium">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Belgium.png") }}" alt="Belgium"> Belgium
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Denmark">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Denmark.png") }}" alt="Denmark"> Denmark
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="France">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/France.png") }}" alt="France"> France
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Germany">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Germany.png") }}" alt="Germany"> Germany
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Italy">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Italy.png") }}" alt="Italy"> Italy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Ireland">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Ireland.png") }}" alt="Ireland"> Ireland
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Luxembourg">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Luxembourg.png") }}" alt="Luxembourg"> Luxembourg
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Netherlands">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Netherlands.png") }}" alt="Netherlands"> Netherlands
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Norway">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Norway.png") }}" alt="Norway"> Norway
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Sweden">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Sweden.png") }}" alt="Sweden"> Sweden
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="Switzerland">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/Switzerland.png") }}" alt="Switzerland"> Switzerland
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#calling-card-by-country" data-name="United Kingdom">
                                                <img src="{{ asset("bundles/universalidt/home/img/flags/United_Kingdom.png") }}" alt="United Kingdom"> United Kingdom
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div id="map"></div><!-- MAP -->
                        </div>
                    </div>

                    <div class="calling-card-by-country clearfix" id="calling-card-by-country"><!-- CALLING CARDS -->
                        <div class="page-header clearfix">
                            <h3>Available Calling Cards for <span class="country-name">Hong Kong</span></h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p><br>
                        <div class="calling-cards owl-carousel owl-theme">
                            <div class="item"><!-- SINGLE CALLING CARD -->
                                <div class="single-card clearfix">
                                    <a href="#calling-card-modal" data-toggle="modal">
                                        <img src="{{ asset("bundles/universalidt/home/img/cc2.png") }}" alt="Card Name">
                                        <div class="card-overlay clearfix">
                                            <div class="overlay-inner clearfix">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item"><!-- SINGLE CALLING CARD -->
                                <div class="single-card clearfix">
                                    <a href="#calling-card-modal" data-toggle="modal">
                                        <img src="{{ asset("bundles/universalidt/home/img/cc2.png") }}" alt="Card Name">
                                        <div class="card-overlay clearfix">
                                            <div class="overlay-inner clearfix">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item"><!-- SINGLE CALLING CARD -->
                                <div class="single-card clearfix">
                                    <a href="#calling-card-modal" data-toggle="modal">
                                        <img src="{{ asset("bundles/universalidt/home/img/cc2.png") }}" alt="Card Name">
                                        <div class="card-overlay clearfix">
                                            <div class="overlay-inner clearfix">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item"><!-- SINGLE CALLING CARD -->
                                <div class="single-card clearfix">
                                    <a href="#calling-card-modal" data-toggle="modal">
                                        <img src="{{ asset("bundles/universalidt/home/img/cc2.png") }}" alt="Card Name">
                                        <div class="card-overlay clearfix">
                                            <div class="overlay-inner clearfix">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item"><!-- SINGLE CALLING CARD -->
                                <div class="single-card clearfix">
                                    <a href="#calling-card-modal" data-toggle="modal">
                                        <img src="{{ asset("bundles/universalidt/home/img/cc2.png") }}" alt="Card Name">
                                        <div class="card-overlay clearfix">
                                            <div class="overlay-inner clearfix">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item"><!-- SINGLE CALLING CARD -->
                                <div class="single-card clearfix">
                                    <a href="#calling-card-modal" data-toggle="modal">
                                        <img src="{{ asset("bundles/universalidt/home/img/cc2.png") }}" alt="Card Name">
                                        <div class="card-overlay clearfix">
                                            <div class="overlay-inner clearfix">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END CALLING CARDS SECTION -->