{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    {{ 'transactions_details.title_details'|trans({},'application') }}
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="order-general-info-panel clearfix"><!-- ORDER GENERL INFO -->
                <h2 class="section-title">{{ 'transactions_details.title_info'|trans({},'application') }}</h2>
                <ul>
                    <li><i class="fa fa-circle-o"></i> <span>{{ 'transactions_details.id'|trans({},'application') }}:</span> {{ order.id }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>{{ 'transactions_details.reference'|trans({},'application') }}:</span> {{ order.orderReference }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>{{ 'transactions_details.payment_status'|trans({},'application') }}:</span> {{ ('enums.PaymentStatus.' ~ order.paymentStatus)|trans({},'application') }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>{{ 'transactions_details.date'|trans({},'application') }}:</span> {{ order.date|date('Y-m-d H:i:s') }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>{{ 'transactions_details.payment_method'|trans({},'application') }}:</span> {{ order.paymentMethod|readable('PaymentMethodEnumType') }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>{{ 'transactions_details.delivery_method'|trans({},'application') }}:</span>
                        {% set delivery = order.deliveryEmail ? "<div style='display:inline'>" ~ 'transactions_details.delivery_method_types.email'|trans({},'application') ~ ": " ~ order.deliveryEmail ~ "</div>" : "" %}
                        {% set delivery = delivery ~ ( order.deliverySMS ? "<div style='display:inline'>" ~ 'transactions_details.delivery_method_types.email'|trans({},'application') ~ ": " ~ order.deliverySMS ~ "</div>" : "" ) %}
                        {{ delivery != "" ? delivery|raw : "--" }}
                    </li>
                </ul>
            </div>
            <div class="order-details-panel clearfix"><!-- ORDER DETAILS PANEL -->
                <h2 class="section-title">{{ 'transactions_details.title_details'|trans({},'application') }}</h2>
                <div class="order-table clearfix">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="table2">
                            <thead>
                            <tr>
                                <th>{{ 'datatables.transactions_details.card_column'|trans({},'javascript') }}</th>
                                <th>{{ 'datatables.transactions_details.type_column'|trans({},'javascript') }}</th>
                                <th>{{ 'datatables.transactions_details.denomination_column'|trans({},'javascript') }}</th>
                                <th>{{ 'datatables.transactions_details.tax_column'|trans({},'javascript') }}</th>
                                <th>{{ 'datatables.transactions_details.ctrl_column'|trans({},'javascript') }}</th>
                                <th>{{ 'datatables.transactions_details.pin_column'|trans({},'javascript') }}</th>
                                <th>{{ 'datatables.transactions_details.action_column'|trans({},'javascript') }}</th>
                            </tr>
                            </thead>

                            <tbody>
                        {% set vat = 0 %}
                        {% for orderProduct in order.orderProducts %}
                            {% set vat = vat + OrderServices.calcVat(orderProduct.product, orderProduct.pinDenomination) %}
                            <tr>
                                <td>{{ orderProduct.product.name }}</td>
                                <td>{{ ('enums.RequestType.' ~ orderProduct.requestType)|trans({},'application') }}</td>
                                <td>{{ orderProduct.pinDenomination|number_format(2) }} {{ orderProduct.product.currency|upper }}</td>
                                <td>{{ orderProduct.vat~'%' }}</td>
                                <td>{{ orderProduct.ctrlNumber }}</td>
                                <td>{{ orderProduct.formattedPin }}</td>
                                <td><a href="{{ path('user_pin_details', {'id':orderProduct.id}) }}" class="link">{{ 'datatables.transactions_details.action_pin'|trans({},'javascript') }}</a></td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="order-summery-panel clearfix"><!-- ORDER SUMMARY PANEL -->
                <h2 class="section-title">{{ 'transactions_details.title_summary'|trans({},'application') }}</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>{{ 'transactions_details.order_subtotal'|trans({},'application') }}</td>
                            <td id="basket_summary_subtotal">{{ order.amount|number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'transactions_details.tax'|trans({},'application') }}</td>
                            <td id="basket_summary_tax">{{ vat|number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'transactions_details.delivery_method'|trans({},'application') }}</td>
                            <td id="basket_summary_email">
                                {{ delivery != "" ? delivery|raw : "--" }}
                            </td>
                        </tr>
                        <tr class="total">
                            <td>{{ 'transactions_details.total'|trans({},'application') }}</td>
                            <td id="basket_summary_total">{{ order.amount|number_format(2) }} {{ order.currency|upper }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-print-button clearfix"><!-- ORDER PRINT BUTTON -->
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('user_order_details_print', {'id': order.id}) }}" class="btn btn-primary" target="_blank">
                        <i class="fa fa-print"></i> {{ 'transactions_details.btn_print'|trans({},'application') }}
                    </a>
                {% else %}
                    <a href="{{ path('WebPage_order_details_print') }}" class="btn btn-primary" target="_blank">
                        <i class="fa fa-print"></i> {{ 'transactions_details.btn_print'|trans({},'application') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table2').DataTable({
                "language": dataTableTranslation
            });
        });
    </script>
{% endblock javascripts %}

