{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    Order Details
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="order-general-info-panel clearfix"><!-- ORDER GENERL INFO -->
                <h2 class="section-title">General Information</h2>
                <ul>
                    <li><i class="fa fa-circle-o"></i> <span>ID:</span> {{ order.paymentId }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>Payment Status:</span> {{ order.paymentStatus|readable('PaymentStatusEnumType') }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>Date:</span> {{ order.date|date('Y-m-d H:i:s') }}</li>
                    <li><i class="fa fa-circle-o"></i> <span>Payment method:</span> {{ order.paymentMethod|readable('PaymentMethodEnumType') }}</li>
                    <li><i class="fa fa-circle-o"></i> <span> Delivery method:</span>
                        {% set delivery = order.deliveryEmail ? "Email: " ~ order.deliveryEmail ~ " " : "" %}
                        {% set delivery = delivery ~ ( order.deliverySMS ? "SMS: " ~ order.deliverySMS : "" ) %}
                        {{ delivery != "" ? delivery|raw : "--" }}
                    </li>
                </ul>
            </div>
            <div class="order-details-panel clearfix"><!-- ORDER DETAILS PANEL -->
                <h2 class="section-title">Order Details</h2>
                <div class="order-table clearfix">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="table2">
                            <thead>
                            <tr>
                                <th>Card Name</th>
                                <th>Type</th>
                                <th>Denomination</th>
                                <th>Vat</th>
                                <th>Serial Number</th>
                                <th>Pin</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                        {% set vat = 0 %}
                        {% for orderProduct in order.orderProducts %}
                            {% set vat = vat + OrderServices.calcVat(orderProduct.product, orderProduct.pinDenomination) %}
                            <tr>
                                <td>{{ orderProduct.product.name }}</td>
                                <td>{{ orderProduct.requestType|readable('RequestTypeEnumType') }}</td>
                                <td>{{ orderProduct.pinDenomination|round(2)|number_format(2) }}</td>
                                <td>{{ orderProduct.vat~'%' }}</td>
                                <td>{{ orderProduct.ctrlNumber }}</td>
                                <td>{{ orderProduct.pin }}</td>
                                <td><a href="{{ path('user_pin_details', {'id':orderProduct.id}) }}" class="link">Pin Details</a></td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="order-summery-panel clearfix"><!-- ORDER SUMMARY PANEL -->
                <h2 class="section-title">Order Summary</h2>
                <p>Shipping and additional costs are calculated based on the values you have entered.</p>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>Order subtotal</td>
                            <td id="basket_summary_subtotal">{{ order.amount|round(2)|number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td id="basket_summary_tax">{{ vat|round(2)|number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td>Delivery Method</td>
                            <td id="basket_summary_email">
                                {% set delivery = order.deliveryEmail ? "<div>Email: " ~ order.deliveryEmail ~ "</div>" : "" %}
                                {% set delivery = delivery ~ ( order.deliverySMS ? "<div>SMS: " ~ order.deliverySMS ~ "</div>" : "" ) %}
                                {{ delivery != "" ? delivery|raw : "--" }}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="total">
                            <td>Total</td>
                            <td id="basket_summary_total">{{ order.amount|round(2)|number_format(2) }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="order-print-button clearfix"><!-- ORDER RINT BUTTON -->
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('user_order_details_print', {'id': order.id}) }}" class="btn btn-primary" target="_blank">
                        <i class="fa fa-print"></i> Print
                    </a>
                {% else %}
                    <a href="{{ path('WebPage_order_details_print') }}" class="btn btn-primary" target="_blank">
                        <i class="fa fa-print"></i> Print
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table2').DataTable();
        });
    </script>
{% endblock javascripts %}

