{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    {{ 'transactions_index.title'|trans({},'application') }}
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <h2 class="section-title">{{ 'transactions_index.title'|trans({},'application') }}</h2>
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="billing-table clearfix"><!-- BILLING TABLE -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date, Time</th>
                            <th>Payment Status</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                                <td>{{ order.paymentStatus|readable('PaymentStatusEnumType') }}</td>
                                <td>{{ order.amount }} ({{ order.currency|upper }})</td>
                                <td><a href="{{ path('user_order_details', {'id':order.id}) }}" class="link">details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript">#}
        {#$(document).ready(function () {#}
            {#$('#table').DataTable({#}
                {#"aoColumnDefs": [#}
                    {#{ "aTargets": [ 3 ], "sType": "numeric", "mRender": function ( data, type ) {#}
                        {#if(type === 'display' && data.split(" ")[0] < 0)#}
                            {#return '<span style="color: red">' + data + '</span>';#}
                        {#return data;#}
                    {#} }#}
                {#]#}
            {#});#}
        {#});#}
    {#</script>#}
{% endblock javascripts %}

