{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    {{ 'transactions_index.title'|trans({},'application') }}
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <h2 class="section-title">{{ 'transactions_index.title'|trans({},'application') }}</h2>
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="billing-table clearfix"><!-- BILLING TABLE -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="table">
                        <thead>
                        <tr>
                            <th>{{ 'datatables.transactions.id_column'|trans({},'javascript') }}</th>
                            <th>{{ 'datatables.transactions.date_column'|trans({},'javascript') }}</th>
                            <th>{{ 'datatables.transactions.payment_status'|trans({},'javascript') }}</th>
                            <th>{{ 'datatables.transactions.amount_column'|trans({},'javascript') }}</th>
                            <th>{{ 'datatables.transactions.action_column'|trans({},'javascript') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.paymentId }}</td>
                                <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                                <td>{{ order.paymentStatus|readable('PaymentStatusEnumType') }}</td>
                                <td>{{ order.amount }} ({{ order.currency|upper }})</td>
                                <td><a href="{{ path('user_order_details', {'id':order.id}) }}" class="link">{{ 'datatables.transactions.action_order'|trans({},'javascript') }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "aoColumnDefs": [
                    { "aTargets": [ 3 ], "sType": "numeric", "mRender": function ( data, type ) {
                        if(type === 'display' && data.split(" ")[0] < 0)
                            return '<span style="color: red">' + data + '</span>';
                        return data;
                    } }
                ]
            });
        });
    </script>
{% endblock javascripts %}

