<div class="application-section clearfix" id="application"><!-- APPLICATION SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>{{ 'home.application.header.title'|trans({},'website') }}</h1>
                    <p>{{ 'home.application.header.subtitle'|trans({},'website') }}</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="application clearfix"><!-- APPLICATION -->

                        <ul class="nav nav-tabs"><!-- APPLICATION BUTTONS -->
                            <li class="active"><a href="#customize" data-toggle="tab"><i class="fa fa-gear"></i> {{ 'home.application.features.title'|trans({},'website') }}</a></li>
                            <li><a href="#profile" data-toggle="tab"><i class="fa fa-cloud"></i> {{ 'home.application.profile.title'|trans({},'website') }}</a></li>
                            <li><a href="#features" data-toggle="tab"><i class="fa fa-refresh"></i> {{ 'home.application.how_to_use.title'|trans({},'website') }}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="customize">
                                <div class="col-md-6">
                                    <div class="application-thumbnail clearfix"><!-- APPLICATION THUMBNAIL -->
                                        <img src="http://placehold.it/390x500" alt="Thumbnail">
                                        <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> {{ 'home.application.download'|trans({},'website') }}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="application-content clearfix"><!-- APPLICATION CONTENT -->
                                        <h2>{{ 'home.application.features.subtitle'|trans({},'website') }}</h2>
                                        <span class="underline"></span>
                                        <p>{{ 'home.application.features.paragraph1'|trans({},'website') }}</p>
                                        <p>{{ 'home.application.features.paragraph2'|trans({},'website') }}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="application-features clearfix">
                                                    <ul>
                                                        <li><i class="fa fa-support"></i> {{ 'home.application.features.feature1'|trans({},'website') }}</li>
                                                        <li><i class="fa fa-cogs"></i> {{ 'home.application.features.feature2'|trans({},'website') }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="application-features clearfix">
                                                    <ul>
                                                        <li><i class="fa fa-rocket"></i> {{ 'home.application.features.feature3'|trans({},'website') }}</li>
                                                        <li><i class="fa fa-magic"></i> {{ 'home.application.features.feature4'|trans({},'website') }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile">
                                <div class="col-md-6">
                                    <div class="application-content clearfix"><!-- APPLICATION CONTENT -->
                                        <h2>{{ 'home.application.profile.subtitle'|trans({},'website') }}</h2>
                                        <span class="underline"></span>
                                        <p>{{ 'home.application.profile.paragraph1'|trans({},'website') }}</p>
                                        <p>{{ 'home.application.profile.paragraph2'|trans({},'website') }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="application-thumbnail clearfix"><!-- APPLICATION THUMBNAIL -->
                                        <img src="http://placehold.it/390x500" alt="Thumbnail">
                                        <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> {{ 'home.application.download'|trans({},'website') }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="features">
                                <div class="col-md-6">
                                    <div class="application-thumbnail clearfix"><!-- APPLICATION THUMBNAIL -->
                                        <img src="http://placehold.it/390x500" alt="Thumbnail">
                                        <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> {{ 'home.application.download'|trans({},'website') }}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="application-content clearfix"><!-- APPLICATION CONTENT -->
                                        <h2>{{ 'home.application.how_to_use.subtitle'|trans({},'website') }}</h2>
                                        <span class="underline"></span>
                                        <p>{{ 'home.application.how_to_use.paragraph1'|trans({},'website') }}</p>
                                        <p>{{ 'home.application.how_to_use.paragraph2'|trans({},'website') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END APPLICATION SECTION -->