<div class="basket-section clearfix" id="basket"><!-- BASKET SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Basket</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="basket clearfix"><!-- BASKET -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="basket_table_items">
                                        <tr>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="total">
                                            <td colspan="5">Total</td>
                                            <td id="basket_table_total" colspan="2">0</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                {{ form_start(form) }}

                                {% if form.account is defined %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="account-type clearfix">
                                            {% for account_type in form.account %}
                                            <div class="radio">
                                                <label>
                                                    {{ form_widget(account_type) }} {{ form_label(account_type) }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {{ form_errors(form.account) }}
                                    </div>
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="clearfix">
                                            <a href="#calling_cards" data-toggle="target" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back to Calling Cards</a>
                                            <a href="#basket" onclick="cookieClear();updateCounts();updateBasketTable()" class="btn btn-danger">Clear Basket</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="text-right clearfix">
                                            {{ form_widget(form.submit, {'id':'basket_form_submit', 'attr': {'class': 'btn btn-primary', 'disabled':'disabled'}}) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="payment-methods-image clearfix">
                                            <img src="{{ asset("bundles/universalidt/home/img/payment-methods.png") }}" alt="Payment Methods">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="order-summary clearfix"><!-- ORDER SUMMARY -->
                                <div class="widget">
                                    <div class="widget-header">
                                        <h3><i class="fa fa-gift"></i> Order Summary</h3>
                                    </div>
                                    <div class="widget-content">
                                        <p>Shipping and additional costs are calculated based on the values you have entered.</p>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                <tr>
                                                    <td>Order subtotal</td>
                                                    <td id="basket_summary_subtotal">0</td>
                                                </tr>
                                                <tr>
                                                    <td>Tax</td>
                                                    <td id="basket_summary_tax">0</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery Method</td>
                                                    <td id="basket_summary_email">--</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr class="total">
                                                    <td>Total</td>
                                                    <td id="basket_summary_total">0</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END BASKET SECTION -->

<script type="text/javascript">
    function updateBasketTable() {
        var total = 0;
        var vat_total = 0;
        $("#basket_table_items").html("");
        for (var product in selected_products) {
            total += selected_products[product]['count'] * selected_products[product]['denomination'];

            var price_with_vat = selected_products[product]['denomination'] * ((selected_products[product]['base']-selected_products[product]['free_amount'])/selected_products[product]['base']);
            var price_without_vat = price_with_vat / (1+ selected_products[product]['vat']/100);
            vat_total += selected_products[product]['count'] * ( price_with_vat - price_without_vat );

//            if(selected_products[product]['type'] == "buy")
                $("#basket_table_items").append('<tr>' +
                '<td><a href="javascript:openDetails('+selected_products[product]['id']+')"><img style="max-height: 40px;" src="'+selected_products[product]['image']+'" alt="'+selected_products[product]['name']+'"></a></td>'+
                '<td><a href="javascript:openDetails('+selected_products[product]['id']+')">'+selected_products[product]['name']+'</a></td>'+
                '<td><div class="stepper "><input value="'+selected_products[product]['count']+'" class="form-control stepper-input" type="number"><span class="stepper-arrow up">Up</span><span class="stepper-arrow down">Down</span></div></td>'+
                '<td>'+selected_products[product]['denomination']+'</td>' +
                '<td>'+'0.00'+'</td>' +
                '<td>'+(selected_products[product]['count'] * selected_products[product]['denomination'])+'</td>' +
                '<td><a href="javascript:removeProduct('+product+')"><i class="fa fa-trash-o"></i></a></td>' +
                '</tr>');
//            else
//                $("#cookie_recharge").append("<tr>" +
//                "<td>"+selected_products[product]['product']+"</td>" +
//                "<td>"+"</td>" +
//                "<td>"+selected_products[product]['count']+"</td>" +
//                "<td>"+selected_products[product]['denomination']+"</td>" +
//                "<td>"+"remove"+"</td>" +
//                "</tr>");
        }

        if(selected_products.length == 0) {
            $("#basket_table_items").append('<tr><td colspan="7">'+'No Item'+'</td></tr>');
            $("#basket_form_submit").prop('disabled', true);
        }
        else {
            $("#basket_form_submit").prop('disabled', false);
        }

        $("#basket_table_total").html(total);

        $("#basket_summary_subtotal").html(total.toFixed(2));
        $("#basket_summary_tax").html(vat_total.toFixed(2));
//        $("#basket_summary_email").html("Email");
        $("#basket_summary_total").html(total.toFixed(2));
    }

    function changeCount(id, denom) {

    }

    function removeProduct(id) {
        selected_products.splice(id, 1);

        var new_products_json = JSON.stringify(selected_products);
        $.cookie("products", new_products_json, { path: '/' });

        if(selected_products.length == 0) {
            selected_products_currency = "";
            $.cookie("products_currency", "", { path: '/' });
        }

        updateCounts();

        $.msgGrowl ({
            type: "success",
            title: "Removed from Cart",
            text: 'Item successfully removed from your cart.'
        });
    }
</script>