<div class="basket-section clearfix" id="basket"><!-- BASKET SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>{{ 'home.basket.title'|trans({},'website') }}</h1>
                    <p>{{ 'home.basket.subtitle'|trans({},'website') }}</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="basket clearfix"><!-- BASKET -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">{{ 'home.basket.form.item'|trans({},'website') }}</th>
                                            <th>{{ 'home.basket.form.type'|trans({},'website') }}</th>
                                            <th>{{ 'home.basket.form.quantity'|trans({},'website') }}</th>
                                            <th>{{ 'home.basket.form.denomination'|trans({},'website') }}</th>
                                            <th>{{ 'home.basket.form.discount'|trans({},'website') }}</th>
                                            <th colspan="2">{{ 'home.basket.form.subtotal'|trans({},'website') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="basket_table_items">
                                        <tr>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="total">
                                            <td colspan="6">{{ 'home.basket.form.total'|trans({},'website') }}</td>
                                            <td id="basket_table_total" colspan="2">0</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                {{ form_start(form) }}

                                {% if form.account is defined %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="account-type clearfix">
                                            {% for account_type in form.account %}
                                            <div class="radio">
                                                <label>
                                                    {{ form_widget(account_type) }} {{ form_label(account_type) }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {{ form_errors(form.account) }}
                                    </div>
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="clearfix">
                                            <a href="#calling_cards" data-toggle="target" class="btn btn-default"><i class="fa fa-chevron-left"></i> {{ 'home.basket.form.back'|trans({},'website') }}</a>
                                            <a href="#basket" onclick="basketClearProducts()" class="btn btn-danger">Clear Basket</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="text-right clearfix">
                                            {{ form_widget(form.submit, {'id':'basket_form_submit', 'attr': {'class': 'btn btn-primary', 'disabled':'disabled'}}) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="payment-methods-image clearfix">
                                            <img src="{{ asset("bundles/universalidt/home/img/payment-methods.png") }}" alt="Payment Methods">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="order-summary clearfix"><!-- ORDER SUMMARY -->
                                <div class="widget">
                                    <div class="widget-header">
                                        <h3><i class="fa fa-gift"></i> {{ 'home.basket.summary.title'|trans({},'website') }}</h3>
                                    </div>
                                    <div class="widget-content">
                                        <p>{{ 'home.basket.summary.paragraph'|trans({},'website') }}</p>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                <tr>
                                                    <td>{{ 'home.basket.summary.subtotal'|trans({},'website') }}</td>
                                                    <td id="basket_summary_subtotal">0</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'home.basket.summary.tax'|trans({},'website') }}</td>
                                                    <td id="basket_summary_tax">0</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'home.basket.summary.delivery'|trans({},'website') }}</td>
                                                    <td id="basket_summary_email">--</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr class="total">
                                                    <td>{{ 'home.basket.summary.total'|trans({},'website') }}</td>
                                                    <td id="basket_summary_total">0</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END BASKET SECTION -->

<script type="text/javascript">
    function basketCreateTable() {
        $("#basket_table_items").html("");

        for (var product in selected_products)
            basketAddRow(product);

        basketCheckEmpty();
        basketUpdateSummary();
    }

    function basketUpdateSummary() {
        var total = 0;
        var vat = 0;

        $('#basket_table_items  > tr').each(function() {
            total += $(this).data('total');
            vat += $(this).data('vat');
        });

        $("#basket_table_total").html(total.toFixed(2) + " " + selected_products_currency);

        $("#basket_summary_subtotal").html(total.toFixed(2));
        $("#basket_summary_tax").html(vat.toFixed(2));
//        $("#basket_summary_email").html("Email");
        $("#basket_summary_total").html(total.toFixed(2) + " " + selected_products_currency);
    }

    function basketCheckEmpty() {
//        console.log(Object.keys(selected_products).length);
        if(Object.keys(selected_products).length == 0) {
            $("#basket_table_items").html('<tr class="empty" data-total="0" data-vat="0"><td colspan="7">'+'No Item'+'</td></tr>');
            $("#basket_form_submit").prop('disabled', true);
        }
        else {
            $("#basket_table_items").find('tr.empty').remove();
            $("#basket_form_submit").prop('disabled', false);
        }
    }

    function basketRemoveProduct(_this) {
        var tr = $(_this).closest('tr');
        delete selected_products[tr.data('cookie_id')];

        $.cookie("products", JSON.stringify(selected_products), { path: '/' });

        if(Object.keys(selected_products).length == 0) {
            selected_products_currency = "";
            $.cookie("products_currency", "", { path: '/' });
        }

        updateCounts();

        tr.remove();
        basketUpdateSummary();
        basketCheckEmpty();

        $.msgGrowl ({
            type: "success",
            title: "Removed from Cart",
            text: 'Item successfully removed from your cart.'
        });
    }

    function basketAddRow(cookie_row_id) {
        var row = selected_products[cookie_row_id];
        var price_with_vat = row['denomination'] * ((row['base']-row['free_amount'])/row['base']);
        var price_without_vat = price_with_vat / (1+ row['vat']/100);
        var row_vat = row['count'] * ( price_with_vat - price_without_vat );

        var discount = (row['free_amount']/row['base'])*row['denomination'];
        var total =  row['count'] * (row['denomination'] - discount);

        if(row['type'] == "buy")
            $("#basket_table_items").append('<tr data-cookie_id="'+cookie_row_id+'" data-total="'+total+'" data-vat="'+row_vat+'">' +
                '<td><a href="javascript:openDetails('+row['id']+', false)"><img style="max-height: 40px;" src="'+row['image']+'" alt="'+row['name']+'"></a></td>'+
                '<td><a href="javascript:openDetails('+row['id']+', false)">'+row['name']+'</a></td>'+
                '<td>New Card</td>'+
                '<td id="quantity"><input class="form-control" onchange="basketUpdateProduct(this)" type="number" min="1" value="'+row['count']+'"></td>'+
                '<td id="denomination">'+row['denomination'].toFixed(2)+ " " + selected_products_currency + '</td>' +
                '<td id="discount">'+discount.toFixed(2)+'</td>' +
                '<td id="total">'+total.toFixed(2)+'</td>' +
                '<td><a href="javascript:;" onclick="basketRemoveProduct(this)"><i class="fa fa-trash-o"></i></a></td>' +
            '</tr>');
        else
            $("#basket_table_items").append('<tr data-cookie_id="'+cookie_row_id+'" data-total="'+total+'" data-vat="'+row_vat+'">' +
                '<td><a href="javascript:openPin('+row['id']+', false)"><img style="max-height: 40px;" src="'+row['image']+'" alt="'+row['name']+'"></a></td>'+
                '<td><a href="javascript:openPin('+row['id']+', false)">'+row['name']+'</a></td>'+
                '<td>Recharge</td>'+
                '<td id="quantity"><input class="form-control" onchange="basketUpdateProduct(this)" type="number" min="1" value="'+row['count']+'"></td>'+
                '<td id="denomination">'+row['denomination'].toFixed(2)+'</td>' +
                '<td id="discount">'+discount.toFixed(2)+'</td>' +
                '<td id="total">'+total.toFixed(2)+'</td>' +
                '<td><a href="javascript:;" onclick="basketRemoveProduct(this)"><i class="fa fa-trash-o"></i></a></td>' +
            '</tr>');

        $("input[type='number']").stepper();
    }

    function basketUpdateProduct(_this) {
        var tr = $(_this).closest('tr');

        var row = selected_products[tr.data('cookie_id')];
        row['count'] = $(_this).val();

        $.cookie("products", JSON.stringify(selected_products), { path: '/' });

        var price_with_vat = row['denomination'] * ((row['base']-row['free_amount'])/row['base']);
        var price_without_vat = price_with_vat / (1+ row['vat']/100);
        var row_vat = row['count'] * ( price_with_vat - price_without_vat );

        var discount = (row['free_amount']/row['base'])*row['denomination'];
        var total =  row['count'] * (row['denomination'] - discount);

        tr.find('#discount').html(discount.toFixed(2));
        tr.find('#total').html(total.toFixed(2));
        tr.data('total',total);
        tr.data('vat',row_vat);

//        console.log(selected_products);

        updateCounts();

        basketUpdateSummary();
    }

    function basketClearProducts() {
        cookieClear();
        updateCounts();
        basketCreateTable();
    }

    function openPin(id) {
        var pin_link = '{{ path('user_pin_details', {'id':'~'}) }}';
        window.open(pin_link.replace('~', id), "_blank");
    }
</script>