<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ product.name }} ({{ product.id }})</h4>
</div>
<div class="modal-body clearfix">
    <div class="row">
        <div class="col-md-6">
            <div class="calling-card-preview clearfix">
                <div class="calling-card-thumb clearfix"><!-- CALLING CARD THUMBNAIL -->
                    <img src="{{ asset(product.webPath) }}" alt="Calling Card">
                </div>
                <div class="calling-card-action clearfix"><!-- CALLING CARD ACTION -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-6">Denominations</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="pr_denominations">
                                        {% for denomination in product.denominations %}
                                            <option value="{{ denomination }}">{{ denomination }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="calling-card-action-btn clearfix">
                                <button class="btn btn-primary" onclick="addToCookie({{ product.id }}, '{{ product.name }}', '{{ asset(product.webPath) }}', $('#pr_denominations').val(), 1, '{{ product.currency }}', 'buy', {{ product.denominations[0] }}, {{ product.freeAmountDenomination1 }}, {{ OrderServices.getVat(product.countryISO) }});">
                                    <i class="fa fa-shopping-cart"></i> Add To Cart
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="calling-card-action-btn text-right clearfix">
                                <button class="btn btn-default" id="prev_product_link" disabled>Previous</button>
                                <button class="btn btn-default" id="next_product_link" disabled>Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="calling-card-details clearfix"><!-- CALLING CARD DETAILS -->
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-2">Rates</a>
                            </h4>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <button type="button" onclick="goToRates('{{ product.countryISO }}')" class="btn btn-primary">Check the best rates</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-3">Access Numbers</a>
                            </h4>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive" style="padding-right: 30px;">
                                    <table class="table table-bordered table-hover" id="access-numbers-table">
                                        <thead>
                                        <tr>
                                            <th>type</th>
                                            <th>num</th>
                                            <th>loc</th>
                                            <th>lang</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for access_number in product.allAccessNumbers %}
                                            <tr>
                                                <td>{{ access_number.typ }}</td>
                                                <td>{{ access_number.num }}</td>
                                                <td>{{ access_number.loc }}</td>
                                                <td>{{ access_number.lang }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-4">Dialling Instructions</a>
                            </h4>
                        </div>
                        <div id="collapse-4" class="panel-collapse collapse in">
                            <div class="panel-body">
                                1. Dial the access number and enter your calling card PIN number. <br>

                                2. Dial the number you wish to reach (including the full national and international codes).<br>

                                - For international calls dial: 00 + Country Code + Area Code + Number<br>

                                - For Follow On Call Press ###<br>

                                - To Save PIN enter *5<br>

                                - To Cancel PIN enter *9<br>

                                - Last Number Redial *1<br>

                                {% if product.classId == 21814 or product.classId == 21815 %}
                                - Top Up Pin *2<br>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>