<div class="row">
    <div class="col-md-6">
        <div class="calling-card-preview clearfix">
            <div class="calling-card-thumb clearfix"><!-- CALLING CARD THUMBNAIL -->
                <img style="max-height: 320px;" src="{{ asset(product.webPath) }}" alt="Calling Card">
            </div>
            <div class="calling-card-action clearfix"><!-- CALLING CARD ACTION -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-6">Denominations</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="pr_denominations">
                                    {% for denomination in product.denominations %}
                                        <option value="{{ denomination }}">{{ denomination }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="calling-card-action-btn clearfix">
                            <button class="btn btn-primary" onclick="addToCookie({{ product.id }},$('#pr_denominations').val(), 1, '{{ product.currency }}', 'buy');">
                                <i class="fa fa-shopping-cart"></i> Add To Cart
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="calling-card-action-btn text-right clearfix">
                            <button class="btn btn-default">Previous</button>
                            <button class="btn btn-default">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="calling-card-details clearfix"><!-- CALLING CARD DETAILS -->
            <div class="panel-group accordion">
                <div class="panel panel-default open">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-1">General Information</a>
                        </h4>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ product.generalInformation(app.request.locale) }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-2">Rates</a>
                        </h4>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="rate-finder clearfix">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="call_from_detail" class="col-sm-4 control-label">Call From</label>
                                        <div class="col-sm-8">
                                            <select name="call_from_detail" id="call_from_detail" class="form-control">
                                                <option value="">Select Country</option>
                                                <option>Bangladesh</option>
                                                <option>Denmark</option>
                                                <option>United State</option>
                                                <option>United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="call_to_detail" class="col-sm-4 control-label">Destination</label>
                                        <div class="col-sm-8">
                                            <select name="call_to_detail" id="call_to_detail" class="form-control">
                                                <option value="">Select Destination</option>
                                                <option>Bangladesh</option>
                                                <option>United State</option>
                                                <option>United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-sm-12">
                                            <button type="submit" class="btn btn-primary">Check the best rates</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Free Toll</label>
                                        <div class="col-sm-8">
                                            ---
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Local</label>
                                        <div class="col-sm-8">
                                            ---
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Internet</label>
                                        <div class="col-sm-8">
                                            ---
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-3">Access Numbers</a>
                        </h4>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>type</th>
                                    <th>num</th>
                                    <th>loc</th>
                                    <th>lang</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for access_number in product.allAccessNumbers %}
                                    <tr>
                                        <td>access_number.typ</td>
                                        <td>access_number.num</td>
                                        <td>access_number.loc</td>
                                        <td>access_number.lang</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">No Data</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-4">Dialling Instructions</a>
                        </h4>
                    </div>
                    <div id="collapse-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ product.dialingInstructions(app.request.locale) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>