<div class="contact-section clearfix" id="contact"><!-- CONTACT SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Contact Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="contact-form clearfix"><!-- CONTACT FORM -->
                                {{ form_start(form, {'attr': {'onsubmit':'contact_send(event, $(this))'}}) }}
                                    <div class="form-group">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Your Name'} }) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Your Email'} }) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Your Message', 'rows': 8} }) }}
                                        {{ form_errors(form.message) }}
                                    </div>
                                    {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary btn-block'} }) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="contact-address clearfix"><!-- CONTACT INFO -->
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    (123) 456-7890<br>
                                    contact@companyname.com
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END CONTACT SECTION -->

<script type="text/javascript">
    function contact_send( event ,form) {
        event.preventDefault();
        waitingDialog.show(undefined, {dialogSize: 'sm'});
        $.ajax({
            type: "post",
            url: "{{ path('WebPage_contact') }}",
            data: form.serialize(),
            cache: false,
            success: function(result) {
                waitingDialog.hide();
                if(result == "S")
                    $.msgGrowl ({
                        type: "success",
                        title: "Message Sent",
                        text: 'Message successfully Sent.'
                    });
                else
                    $.msgGrowl ({
                        type: "error",
                        title: "Message Not Send",
                        text: 'An Error occurred.'
                    });
            }
        });
    }
</script>