<div class="download-section clearfix" id="download"><!-- DOWNLOAD SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>{{ 'home.download.title'|trans({},'website') }}</h1>
                    <p>{{ 'home.download.subtitle'|trans({},'website') }}</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="download-buttons clearfix"><!-- DOWNLOAD BUTTONS -->
                        <ul>
                            <li><a href="https://itunes.apple.com/ch/app/idt-universal/id966795510" target="_blank"><i class="fa fa-apple"></i> {{ 'home.download.download_btns.app_store'|trans({},'website') }}</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.bossLite" target="_blank"><i class="fa fa-android"></i> {{ 'home.download.download_btns.android_market'|trans({},'website') }}</a></li>
                            <li><a href="{{ asset('bundles/universalidt/download/IDTUniversalSetup.10781.exe') }}"><i class="fa fa-windows"></i> {{ 'home.download.download_btns.windows'|trans({},'website') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END DOWNLOAD SECTION -->