{% for product in products %}
    <tr>
        <td>
            <a href="javascript:openDetails({{ product.id }})"><img src="{{ asset(product.webPath) }}" style="max-height: 40px;" alt="{{ product.name }}"></a>
        </td>
        <td><a href="javascript:openDetails({{ product.id }})">{{ product.name }}</a></td>
        <td>
            <select id="denomination_list" name="denomination_list" class="form-control" style="width: 80px">
                <option value="">Denomination</option>
                {% for denom in product.denominations %}
                    <option value="{{ denom }}">{{ denom }}{{ product.currency }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="rate">{{ rates[product.classId]['cost'] }}</td>
        <td class="connection_fee">{{ rates[product.classId]['connectionFees'] }}</td>
        <td class="minutes">0</td>
        <td>{{ rates[product.classId]['type'] }}</td>
        <td><button class="btn btn-primary btn-sm" onclick="if($(this).closest('tr').find('#denomination_list').val() != '')addToCookie({{ product.id }}, '{{ product.name }}', '{{ asset(product.webPath) }}', $(this).closest('tr').find('#denomination_list').val(), 1, '{{ product.currency }}', 'buy'); else $.msgGrowl ({type: 'warning',title: 'Denomination',text: 'Please select a denomination.'});">Add to cart</button></td>
    </tr>
{% endfor %}