<div class="rates-section clearfix" id="rates"><!-- RATES SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Rates</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="rate-finder clearfix"><!-- RATE FINDER FORM -->
                                {{ form_start(form, {'attr':{'id':'rate_form', 'class':'form-horizontal'}}) }}
                                    <div class="form-group">
                                        {{ form_label(form.from, null, {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                                        <div class="col-sm-6">
                                            {{ form_widget(form.from, {'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.from) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.destination, null, {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                                        <div class="col-sm-6">
                                            {{ form_widget(form.destination, {'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.destination) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% for type in form.type %}
                                            <label class="radio-inline">
                                                {{ form_widget(type) }}{{ form_label(type) }}{{ form_errors(type) }}
                                            </label>
                                        {% endfor %}
                                        {{ form_errors(form.type) }}
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-sm-offset-3 col-sm-6">
                                            {{ form_widget(form.search, {'attr': {'class': 'btn btn-primary'} }) }}
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h3>Result</h3>
                            </div>
                            <div class="rate-table clearfix"><!-- RATE TABLE -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="rates-table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Calling Cards</th>
                                            <th>Denominations</th>
                                            <th>Destination</th>
                                            <th>Rate</th>
                                            <th>Discount</th>
                                            <th>Connection fee</th>
                                            <th>Min</th>
                                            <th>Method</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{ render(controller('UniversalIDTBundle:WebPage:ratesResult',{},{'from':'BE','destination':'AF','type':'LAC'})) }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END RATES SECTION -->

<script type="text/javascript">
    /*
     ==CALLING CARDS COUNTRY LIST==
     */
    $('form#rate_form').submit(function(e) {
        e.preventDefault();

//        console.log($("#rates-table").dataTable("data"));
//
//        alert("done");
//        return;
        var from_input = $("form#rate_form [name='from']").val();
        var destination_input = $("form#rate_form [name='destination']").val();
        var type_input = $("form#rate_form [name='type']:checked").val();
        waitingDialog.show(undefined, {dialogSize: 'sm'});

        $.ajax({
            type: "get",
            url: "{{ path('WebPage_rates_result') }}",
            data: {"from": from_input, "destination": destination_input, "type": type_input},
            cache: false,
            success: function(result)
            {
                $("#rates-table tbody").html(result);
                $("#rates-table").dataTable();

                $('#rates-table > tbody > tr').each(function() {
                    var denomination = $(this).find('select');
                    var rate = $(this).find('.rate').text();

                    $(denomination).change(function() {
                        var minute = Math.floor($(this).val() / rate);
                        $(this).closest('tr').find('.minutes').text(minute);
                    });
                });
                waitingDialog.hide();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                waitingDialog.hide();
                alert('error');
                console.log(jqXHR, textStatus, errorThrown);
            }
        });
    });

//    $(document).ready(function (){
//        $("#my_rates-table").dataTable();
//
//        $('#my_rates-table > tbody > tr').each(function() {
//            var denomination = $(this).find('select');
//            var rate = $(this).find('.rate').text();
//
//            $(denomination).change(function() {
//                var minute = Math.floor($(this).val() / rate);
//                $(this).closest('tr').find('.minutes').text(minute);
//            });
//        });
//    });
</script>