<div class="slider-section clearfix" id="slider"><!-- SLIDER SECTION -->
    <div class="intro-slider owl-carousel owl-theme">
        <div class="item item-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-text clearfix"><!-- SLIDER TEXT -->
                            <h2>{{ 'home.carousel.firstslide.title'|trans({},'website') }}</h2>
                            <p>{{ 'home.carousel.firstslide.paragraph'|trans({},'website') }}</p>
                            <div class="clearfix">
                                <a href="#calling_cards" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-align-left"></i> {{ 'home.carousel.firstslide.link'|trans({},'website') }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-thumb clearfix"><!-- SLIDER THUMBNAIL -->
                            <img src="https://placehold.it/250x350" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-text clearfix"><!-- SLIDER TEXT -->
                            <h2>{{ 'home.carousel.secondslide.title'|trans({},'website') }}</h2>
                            <p>{{ 'home.carousel.secondslide.paragraph'|trans({},'website') }}</p>
                            <div class="clearfix">
                                <a href="#application" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-align-left"></i> {{ 'home.carousel.secondslide.link_discover'|trans({},'website') }}</a>
                                <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-download"></i> {{ 'home.carousel.secondslide.link_download'|trans({},'website') }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-thumb clearfix"><!-- SLIDER THUMBNAIL -->
                            <img src="https://placehold.it/250x350" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-text clearfix"><!-- SLIDER TEXT -->
                            <h2>{{ 'home.carousel.thirdslide.title'|trans({},'website') }}</h2>
                            <p>{{ 'home.carousel.thirdslide.paragraph'|trans({},'website') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-thumb clearfix"><!-- SLIDER THUMBNAIL -->
                            <img src="https://placehold.it/250x350" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END SLIDER SECTION -->