<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="menu">
            <a href="{{ path('guest_main') }}">Home</a>
            <a href="{{ path('guest_calling_cards') }}">Calling Cards</a>
            {% if app.user %}
                <a href="{{ path('user_my_pins') }}">My PINs</a>
                <a href="{{ path('user_billing_history') }}">Billing history</a>
            {% endif %}
            <a href="{{ path('guest_rates') }}">Rates</a>
            <a href="#">Applications</a>
            <a href="#">About Us</a>
            <a href="#">Customer Service</a>
            <a href="{{ path('checkout_basket') }}">Basket</a>
            {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}">logout</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">login</a>
            {% endif %}

        </div>
        Current cart totals: <span id="cart_total">--</span> for <span id="cart_total_items">--</span> items!
        {% block body %}{% endblock %}

        <script src="{{ asset('bundles/universalidt/js/jquery-1.11.2.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/universalidt/js/jquery.cookie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/universalidt/js/json2.js') }}"></script>
        <script type="text/javascript">
            var selected_products = [];

            function loadSelectedProducts() {
                var products_json = $.cookie("products");
                selected_products = products_json == undefined ? [] : JSON.parse(products_json);

                var valid = true;
                var types = ["buy", "recharge"];
                for(var product in selected_products) {
                    if(     selected_products[product]['product'] == undefined ||
                            selected_products[product]['count'] == undefined ||
                            selected_products[product]['denomination'] == undefined ||
                            types.indexOf(selected_products[product]['type']) == -1
                    ){
                        valid = false;
                        break;
                    }
                }

                if(!valid) {
                    selected_products = [];
                    $.cookie("products", "[]", { path: '/' });
                }
            }

            function updateCounts() {
                var total_count = 0;
                for(var product in selected_products)
                    total_count += parseInt(selected_products[product]['count']);

                $("#cart_total_items").html(total_count == 0 ? 0 : selected_products.length);
                $("#cart_total").html(total_count);
            }

            function addToCookie(_product_id, _denomination, _count, _type) {
//                alert('product:'+_product_id+' count:'+_count+' denomination:'+_denomination+' type:'+_type);
                var _exist = false;
                for(var product in selected_products) {
                    if(     +selected_products[product]['product'] == +_product_id &&
                            +selected_products[product]['denomination'] == +_denomination &&
                            selected_products[product]['type'] == _type
                    ){
                        selected_products[product]['count'] = +selected_products[product]['count'] + +_count;
                        _exist = true;
                        break;
                    }
                }

                if(!_exist)
                    selected_products.push({'product':+_product_id, 'count':+_count, 'denomination':+_denomination, 'type':_type});

                var new_products_json = JSON.stringify(selected_products);

                $.cookie("products", new_products_json, { path: '/' });
                updateCounts();
            }

            $(document).ready(function(){
                loadSelectedProducts();
                updateCounts();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
