<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 isIE"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie7 isIE"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie8 isIE"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js notIe" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/universalidt/img/favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title '' %}</title>
    {% block headers %}{% endblock headers %}
    {% block stylesheets %}{% endblock stylesheets %}
    <link href="{{ asset("bundles/universalidt/js/plugins/msgGrowl/css/msgGrowl.css") }}" rel="stylesheet">
</head>
<body {% block body_attr '' %}>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/universalidt/js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/universalidt/js/json2.js') }}"></script>
<script type="text/javascript" src="{{ asset("bundles/universalidt/js/plugins/msgGrowl/js/msgGrowl.js") }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            $.msgGrowl ({
                type: '{{ type }}',
                title: 'Message',
                text: '{{ message }}'
            });
        {% endfor %}
    {% endfor %}
    });
</script>
<script type="text/javascript">
    var selected_products = {};

    var selected_products_currency = "";

    function cookieClear() {
        selected_products = {};
        $.cookie("products", "{}", { path: '/' });

        selected_products_currency = "";
        $.cookie("products_currency", "", { path: '/' });
    }

    function loadSelectedProducts() {
        var products_json = $.cookie("products");
        selected_products = (products_json == undefined || products_json == "[]") ? {} : JSON.parse(products_json);

        selected_products_currency = $.cookie("products_currency") == undefined ? "" : $.cookie("products_currency");

        var valid = true;
        var types = ["buy", "recharge"];
        for(var product in selected_products) {
            if(     selected_products[product]['id'] == undefined ||
                    selected_products[product]['name'] == undefined ||
                    selected_products[product]['image'] == undefined ||
                    selected_products[product]['count'] == undefined ||
                    selected_products[product]['denomination'] == undefined ||
                    selected_products[product]['base'] == undefined ||
                    selected_products[product]['free_amount'] == undefined ||
                    selected_products[product]['vat'] == undefined ||
                    types.indexOf(selected_products[product]['type']) == -1
            ){
                valid = false;
                break;
            }
        }

        if(!valid) {
            cookieClear();
            $.msgGrowl ({
                type: "error",
                title: "Cookie is invalid",
                text: 'Basket cleared.'
            });
        }

//            console.log(selected_products);

        if (typeof basketCreateTable == 'function') {
            basketCreateTable();
        }

        updateCounts();
    }

    function updateCounts() {
        var total_count = 0;
        for(var product in selected_products)
            total_count += parseInt(selected_products[product]['count']);

//            $("#cart_total_items").html(selected_products.length);//total_count == 0 ? 0 : selected_products.length);
        $("#cart_total_items").html(total_count);
    }

    function addToCookie(_id, _name, _image, _denomination, _count, _currency, _type, _base, _free_amount, _vat) {
        if(selected_products_currency != "" && selected_products_currency != _currency) {
            $.msgGrowl ({
                type: "warning",
                title: "Currency Error",
                text: ('You must select carts with same currency. this='+_currency+ ' basket='+selected_products_currency)
            });
            return;
        }
        else if(selected_products_currency == "") {
            selected_products_currency = _currency;
            $.cookie("products_currency", _currency, { path: '/' });
        }

//                alert('product:'+_product_id+' count:'+_count+' denomination:'+_denomination+' type:'+_type);
        var _exist = (_id+_type+_denomination) in selected_products;

        if(_exist) {
            selected_products[_id+_type+_denomination]['count'] = +selected_products[_id+_type+_denomination]['count'] +_count;
        } else {
            selected_products [_id+_type+_denomination] = {
                'id':+_id,
                'name':_name,
                'image':_image,
                'denomination':+_denomination,
                'count':+_count,
                'type':_type,
                'base':_base,
                'free_amount':_free_amount,
                'vat':_vat
            };
        }

        $.cookie("products", JSON.stringify(selected_products), { path: '/' });

        updateCounts();

        if (typeof basketAddRow == 'function' && !_exist) {
            basketAddRow(_id+_type+_denomination);
            basketCheckEmpty();
        }
        if (typeof basketUpdateProduct == 'function' && _exist) {
            var input_quantity = $("#basket_table_items tr[data-cookie_id='"+_id+_type+_denomination+"'] td#quantity input");
            input_quantity.val(selected_products[_id+_type+_denomination]['count']);
            basketUpdateProduct(input_quantity);
        }
        if (typeof basketUpdateSummary == 'function') {
            basketUpdateSummary();
        }

        $.msgGrowl ({
            type: "success",
            title: "Added to Cart",
            text: 'Item successfully added to your cart.'
        });
    }

    loadSelectedProducts();
</script>
</body>
</html>
