{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    Password Settings|trans
{% endblock subtitle %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget stacked">

                <div class="widget-header">
                    <i class="icon-user"></i>

                    <h3>Password Settings</h3>
                </div>
                <!-- /widget-header -->

                <div class="widget-content">
                    <div class="tabbable">

                        <ul class="nav nav-tabs">
                            <li><a href="{{ path('fos_user_profile_edit') }}">Profile settings</a></li>
                            <li><a href="{{ path('user_profile_email') }}">Email Settings</a></li>
                            <li class="active"><a href="{{ path('fos_user_change_password') }}">Password Settings</a></li>
                            <li><a href="{{ path('user_profile_notification') }}">Notifications</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal col-md-7">
                                    <fieldset>

                                        <div class="form-group">
                                            {{ form_label(form.current_password, "", {'label_attr': {'class': 'col-lg-4'} }) }}
                                            <div class="col-lg-8">
                                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.current_password) }}
                                            </div> <!-- /col-lg-8 -->
                                        </div> <!-- /form-group -->

                                        <div class="form-group">
                                            {{ form_label(form.plainPassword.first, "", {'label_attr': {'class': 'col-lg-4'} }) }}
                                            <div class="col-lg-8">
                                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.plainPassword.first) }}
                                            </div> <!-- /col-lg-8 -->
                                        </div> <!-- /form-group -->

                                        <div class="form-group">
                                            {{ form_label(form.plainPassword.second, "", {'label_attr': {'class': 'col-lg-4'} }) }}
                                            <div class="col-lg-8">
                                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.plainPassword.second) }}
                                            </div> <!-- /col-lg-8 -->
                                        </div> <!-- /form-group -->
                                        {{ form_errors(form.plainPassword) }}

                                        <div class="form-group">
                                            <div class="col-lg-4"></div>

                                            <div class="col-lg-8">
                                                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
                                            </div>
                                        </div> <!-- /form-actions -->
                                    </fieldset>
                                    {{ form_rest(form) }}
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>
    </div>
{% endblock %}