{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    Pins Details
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="pin-panel clearfix"><!-- PIN ANEL -->
                <h2 class="section-title">Pin {{ pin.pin }}</h2>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#detailTab" data-toggle="tab">Details</a></li>
                    <li><a href="#historyTab" data-toggle="tab">Call History</a></li>
                    <li><a href="#rechargeTab" data-toggle="tab">Recharges</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="detailTab"><!-- DETAILS TAB -->
                        <div class="pins-general-info clearfix">
                            <ul>
                                <li><i class="fa fa-circle-o"></i> <span>Card Name:</span> {{ pin.product.name }}</li>
                                <li><i class="fa fa-circle-o"></i> <span>Control number:</span> {{ pin.ctrlNumber }}</li>
                                <li><i class="fa fa-circle-o"></i> <span>Order Number:</span> {{ pin.orderDetail.id }}</li>
                                <li><i class="fa fa-circle-o"></i> <span>Total Usage:</span> {{ call_details.totalamount }}</li>
                                <li><i class="fa fa-circle-o"></i> <span>Total Calls:</span> {{ call_details.totalcalls }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="historyTab"><!-- HISTORY TAB -->
                        <div class="call-history-table clearfix">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" id="table1">
                                    <thead>
                                    <tr>
                                        <th>Date, Time</th>
                                        <th>Duration</th>
                                        <th>Cost</th>
                                        <th>Caller Number</th>
                                        <th>Called Number</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for call in calls %}
                                    <tr>
                                        <td>{{ call.callfulldate }}</td>
                                        <td>{{ call.minutes }}</td>
                                        <td>{{ call.amount }}</td>
                                        <td>{{ call.dialedfrom }}</td>
                                        <td>{{ call.dialedto }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="rechargeTab"><!-- RECHARGE TAB -->
                        <div class="recharge-table clearfix">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" id="table2">
                                    <thead>
                                    <tr>
                                        <th>Card Name</th>
                                        <th>Date</th>
                                        <th>Denomination</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for recharge in recharges %}
                                    <tr>
                                        <td>{{ recharge.product.name }}</td>
                                        <td>{{ recharge.OrderDetail.date|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ recharge.pinDenomination }}</td>
                                        <td>{{ recharge.requestStatus|readable('RequestStatusEnumType') }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recharge-panel clearfix"><!-- RECHARGE PANEL -->
                <h2 class="section-title">Recharge</h2>
                <form id="form-recharge" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="denomination_list"></label>
                        <select id="denomination_list" name="denomination_list" class="form-control" required="required" style="min-width: 250px;">
                            <option value="">Choose</option>
                            <option value="5">5CHF</option>
                            <option value="10">10CHF</option>
                            <option value="20">20CHF</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Recharge</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table1').DataTable({
                "language": dataTableTranslation
            });
            $('#table2').DataTable({
                "language": dataTableTranslation
            });
        });

        $('form#form-recharge').submit(function(e) {
            e.preventDefault();

            var denomination = $("#form-recharge select[name='denomination_list']").val();
            addToCookie({{ pin.id }}, '{{ pin.product.name }}', '{{ asset(pin.product.webPath) }}', denomination, 1, '{{ pin.product.currency }}', 'recharge', {{ pin.product.denominations[0] }}, {{ pin.product.freeAmountDenomination1 }}, {{ OrderServices.getVat(pin.product.countryISO) }});
            window.open('{{ path('WebPage_main') }}#basket', "_self");
        });
    </script>
{% endblock javascripts %}