{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    {{ 'pins_index.title'|trans({},'application') }}
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <h2 class="section-title">{{ 'pins_index.title'|trans({},'application') }}</h2>
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="pins-table clearfix"><!-- PIN TABLE -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="table">
                        <thead>
                        <tr>
                            <th>Date Purchased</th>
                            <th>Card Name</th>
                            <th>PIN</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for pin in pins %}
                            <tr>
                                <td>{{ pin.orderDetail.date|date('Y-m-d H:i:s') }}</td>
                                <td>{{ pin.product.name }}</td>
                                <td>{{ pin.pin }}</td>
                                <td>
                                    <a href="{{ path('user_order_details', {'id':pin.orderDetail.id}) }}">Order Details</a>
                                    <br>
                                    <a href="{{ path('user_pin_details', {'id':pin.id}) }}">Pin Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

