{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:User:orderDetails{% endblock %}

{% block body %}
    <h1>Welcome to the User:orderDetails page</h1>

    <table border="1">
        <thead>
        <tr>
            <th colspan="5">General information</th>
        </tr>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
            <th>Payment method</th>
            <th>Delivery method</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                <td></td>
                <td>{{ order.paymentMethod }}</td>
                <td>{{ order.deliveryMethod|join(',') }}</td>
            </tr>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th colspan="5">Order details</th>
        </tr>
        <tr>
            <th>Card name</th>
            <th>Denomination</th>
            <th>quantity</th>
            <th>Subtotal</th>
            <th>Serial number</th>
        </tr>
        </thead>
        <tbody>
        {% for orderProduct in order.orderProducts %}
            <tr>
                <td>{{ orderProduct.product.name }}</td>
                <td>{{ orderProduct.pinDenomination }}</td>
                <td></td>
                <td></td>
                <td>{{ orderProduct.ctrlNumber }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No Data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
