<div class="row">
    <div class="col-md-3">
        <h4>{{ 'footer.about.title'|trans({},'website') }}</h4>
        <ul>
            <li><a href="#">{{ 'footer.about.about_us'|trans({},'website') }}</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>{{ 'footer.support.title'|trans({},'website') }}</h4>
        <ul>
            <li><a href="#">{{ 'footer.support.frequently_asked_questions'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.support.ask_question'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.support.video_tutorial'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.support.feedback'|trans({},'website') }}</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>{{ 'footer.legal.title'|trans({},'website') }}</h4>
        <ul>
            <li><a href="#">{{ 'footer.legal.license'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.legal.terms_of_use'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.legal.privacy_policy'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.legal.security'|trans({},'website') }}</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>{{ 'footer.settings.title'|trans({},'website') }}</h4>
        <ul>
            <li><a href="#">{{ 'footer.settings.consectetur_adipisicing'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.settings.eiusmod_tempor'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.settings.fugiat_nulla_pariatur'|trans({},'website') }}</a></li>
            <li><a href="#">{{ 'footer.settings.officia_deserunt'|trans({},'website') }}</a></li>
        </ul>
    </div>
</div>