<a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
    <span class="sr-only">Toggle navigation</span>
    <i class="icon-reorder"></i>

</a>

<div class="collapse subnav-collapse">
    <ul class="mainnav">

        <li class="active">
            <a href="{{ path('guest_main') }}">
                <i class="icon-home"></i>
                <span>{{ 'Home'|trans({},'navBar') }}</span>
            </a>
        </li>

        <li>
            <a href="{{ path('user_my_pins') }}">
                <i class="icon-th"></i>
                <span>{{ 'My PINs'|trans({},'navBar') }}</span>
            </a>
        </li>

        <li>
            <a href="{{ path('user_billing_history') }}">
                <i class="icon-copy"></i>
                <span>{{ 'Billing History'|trans({},'navBar') }}</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i class="icon-external-link"></i>
                <span>{{ 'Rates'|trans({},'navBar') }}</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i class="icon-info-sign"></i>
                <span>{{ 'Help'|trans({},'navBar') }}</span>
            </a>
        </li>

        <li>
            <a href="{{ path('fos_user_security_login') }}">
                <i class="icon-signin"></i>
                <span>{{ 'Login'|trans({},'signin') }}</span>
            </a>
        </li>

        <li>
            <a href="{{ path('fos_user_registration_register') }}">
                <i class="icon-lock"></i>
                <span>{{ 'Sign Up'|trans({},'signin') }}</span>
            </a>
        </li>

        <li>
            <a href="{{ path('checkout_checkout') }}">
                <i class="icon-check"></i>
                <span>Checkout</span>
            </a>
        </li>

    </ul>
</div> <!-- /.subnav-collapse -->