{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:Guest:details{% endblock %}

{% block body %}
<h1>Welcome to the Guest:details page</h1>

    {% for product in products %}
        <div style="border: 1px solid #000000; margin: 10px">
            <strong>General Information:</strong><br>
            {% for lang, info in product.allGeneralInformation %}
                {{ lang }}: {{ info }}<br>
            {% endfor %}

            <strong>Rates:</strong><br>
            {% for rate in product.allRates %}
                {{ rate|json_encode() }}<br>
            {% endfor %}

            <strong>Access Number:</strong><br>
            {% for accessNumber in product.allAccessNumbers %}
                {{ accessNumber|json_encode() }}<br>
            {% endfor %}

            <strong>Dialing Instructions:</strong><br>
            {% for lang, info in product.allDialingInstructions %}
                {{ lang }}: {{ info }}<br>
            {% endfor %}

            <strong>Denominations:</strong><br>
            <select id="pr_{{ product.id }}_denominations">
                {% for denomination in product.denominations %}
                    <option value="{{ denomination }}">{{ denomination }}</option>
                {% endfor %}
            </select>
            <input type="number" id="pr_{{ product.id }}_count" value="1">
            <a href="javascript:" onclick="addToCookie({{ product.id }},$('{{ "#pr_" ~ product.id ~ "_denominations" }}').val(),$('{{ "#pr_" ~ product.id ~ "_count" }}').val());">Add To Cart</a>
        </div>
    {% endfor %}

    <div>
        <a href="{{ path('checkout_my_cart') }}">Buy</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function addToCookie(_product_id, _denomination, _count) {
            var _exist = false;
            for(var product in selected_products) {
                if(+selected_products[product]['product'] == +_product_id && +selected_products[product]['denomination'] == +_denomination){
                    selected_products[product]['count'] = +selected_products[product]['count'] + +_count;
                    _exist = true;
                    break;
                }
            }

            if(!_exist)
                selected_products.push({'product':+_product_id, 'count':+_count, 'denomination':+_denomination});

            var new_products_json = JSON.stringify(selected_products);

            $.cookie("products", new_products_json, { path: '/' });
            updateCounts();
        }
    </script>
{% endblock %}
