{% extends "@UniversalIDT/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subtitle %}
    {{ 'login.title'|trans({},'website') }}
{% endblock subtitle %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger"><!-- ALERT -->
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="content-container clearfix">
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <form class="login-form clearfix" action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-heading clearfix">
                    <h2>{{ 'login.subtitle'|trans({},'website') }}</h2>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <label for="username" class="required">{{ 'form.email'|trans }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'login.email_place_holder'|trans({},'website') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="required">{{ 'security.login.password'|trans }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'login.password_place_holder'|trans({},'website') }}" />
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <span>{{ 'security.login.remember_me'|trans }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <div class="text-center clearfix">
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans }} <i class="fa fa-caret-right"></i></a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }} <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}