{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
    {{ 'panels_home.title'|trans({},'application') }}
{% endblock subtitle %}

{% block content %}
    <div class="content-container clearfix">
        <h2 class="section-title">{{ 'panels_home.title'|trans({},'application') }}</h2>
        <div class="main-content clearfix"><!-- MAIN CONTENT -->
            <div class="homepage-widget clearfix"><!-- HOME PAGE WIDGETS -->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-widget clearfix"><!-- SINGLE WIDGET -->
                            <a href="{{ path('user_home') }}">
                                <div class="widget-icon clearfix">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="widget-content clearfix">
                                    <h4>{{ 'panels_home.home'|trans({},'application') }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-widget clearfix"><!-- SINGLE WIDGET -->
                            <a href="{{ path('user_pins') }}">
                                <div class="widget-icon clearfix">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="widget-content clearfix">
                                    <h4>{{ 'panels_home.my_pins'|trans({},'application') }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-widget clearfix"><!-- SINGLE WIDGET -->
                            <a href="{{ path('user_orders') }}">
                                <div class="widget-icon clearfix">
                                    <i class="fa fa-copy"></i>
                                </div>
                                <div class="widget-content clearfix">
                                    <h4>{{ 'panels_home.billing_history'|trans({},'application') }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-widget clearfix"><!-- SINGLE WIDGET -->
                            <a href="{{ path('WebPage_main') }}#calling_cards">
                                <div class="widget-icon clearfix">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="widget-content clearfix">
                                    <h4>{{ 'panels_home.calling_cards'|trans({},'application') }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-widget clearfix"><!-- SINGLE WIDGET -->
                            <a href="{{ path('WebPage_main') }}#rates">
                                <div class="widget-icon clearfix">
                                    <i class="fa fa-external-link"></i>
                                </div>
                                <div class="widget-content clearfix">
                                    <h4>{{ 'panels_home.rates'|trans({},'application') }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-widget clearfix"><!-- SINGLE WIDGET -->
                            <a href="{{ path('WebPage_main') }}#contact">
                                <div class="widget-icon clearfix">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="widget-content clearfix">
                                    <h4>{{ 'panels_home.help'|trans({},'application') }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}