{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:Checkout:MyCart{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div id="delivery">
            <h1>Welcome to the Checkout:Delivery page</h1>

            {{ form_row(form.email) }}
            {{ form_row(form.sms) }}

            <a href="{{ path('WebPage_main')~"#basket" }}">Back to basket</a>
            <a href="#" onclick="$('#delivery').hide();$('#payment').show();">continue to payment method</a>
        </div>

        <div id="payment" style="display: none">
            <h1>Welcome to the Checkout:Payment page</h1>

            {{ form_row(form.method) }}

            <a href="#" onclick="$('#payment').hide();$('#delivery').show();">Back to delivery method</a>
            <a href="#" onclick="$('#payment').hide();$('#order').show();">Continue to order review</a>
        </div>

        <div id="order" style="display: none">
            <h1>Welcome to the Checkout:MyCart page</h1>

            <table border="1">
                <thead>
                <tr>
                    <th colspan="5">Cards</th>
                </tr>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Denom.</th>
                    <th>Subtitle</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    {% if row.type == "buy" %}
                        <tr>
                            <td>{{ row.product.name }}</td>
                            <td>{{ row.count }}</td>
                            <td>{{ row.denomination }}</td>
                            <td>{{ row.product.AllGeneralInformation }}</td>
                            <td>remove</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <table border="1">
                <thead>
                <tr>
                    <th colspan="6">Charges</th>
                </tr>
                <tr>
                    <th>Item</th>
                    <th>Pin</th>
                    <th>Qty</th>
                    <th>Denom.</th>
                    <th>Subtitle</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    {% if row.type == "recharge" %}
                        <tr>
                            <td>{{ row.product.product.name }}</td>
                            <td>{{ row.product.pin }}</td>
                            <td>{{ row.count }}</td>
                            <td>{{ row.denomination }}</td>
                            <td>{{ row.product.product.AllGeneralInformation }}</td>
                            <td>remove</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <a href="#" onclick="$('#order').hide();$('#payment').show();">Back to payment method</a>
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}