{% extends '@UniversalIDT/layout.html.twig' %}

{% block subtitle %}
	{{ 'checkout.title'|trans({},'website') }}
{% endblock subtitle %}

{% block content %}
	<div class="content-container clearfix">
		<h2 class="section-title">{{ 'checkout.header'|trans({},'website') }}</h2>
		<div class="main-content clearfix"><!-- MAIN CONTENT -->
			<div class="checkout-tabs clearfix"><!-- START CHECKOUT TAB -->
				<form id="checkout-form" method="post">
					<ul class="nav nav-tabs" role="tablist" id="myTab"><!-- TAB BUTTONS -->
						<li class="active"><a href="#delivery_method_tab" onclick="event.preventDefault()"><i class="fa fa-truck"></i> {{ 'checkout.form.delivery.title'|trans({},'website') }}</a></li>
						<li><a href="#payment_method_tab" onclick="event.preventDefault()"><i class="fa fa-money"></i> {{ 'checkout.form.payment.title'|trans({},'website') }}</a></li>
						<li><a href="#order_review_tab" onclick="event.preventDefault()"><i class="fa fa-eye"></i> {{ 'checkout.form.review.title'|trans({},'website') }}</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="delivery_method_tab"><!-- DELIVERY TAB -->
							<div class="form-horizontal clearfix">
								<div class="form-group">
									{{ form_label(form.email, "", {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
									<div class="col-sm-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'checkout.form.delivery.email_placeholder'|trans({},'website') }}) }}
										</div>
										{{ form_errors(form.email) }}
									</div>
								</div>
							</div>
							{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<div class="form-group">
									<h4><strong>Notice:</strong></h4>
									<span style="color:#ff0000">*</span> As an anonymous user, if you do not give an email, you must save your PINs after delivery!
								</div>
							{% endif %}
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="clearfix">
										<a href="{{ path('WebPage_main') ~ '#basket' }}" class="btn btn-default"><i class="fa fa-chevron-left"></i> {{ 'checkout.form.delivery.back_link'|trans({},'website') }}</a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="text-right clearfix">
										<button type="button" data-target="#payment_method_tab" data-toggle="tab" onclick="changeDeliveryMethod()" class="btn btn-primary">{{ 'checkout.form.delivery.continue_link'|trans({},'website') }} <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="payment_method_tab"><!-- PAYMENT TAB -->
							<div class="payment-methods clearfix">
								<div class="btn-group clearfix" data-toggle="buttons">
									{{ form_errors(form.method) }}

									{% for method in form.method %}
									<div class="btn" onclick="$('#go_to_order').prop('disabled', false)">
									<div class="row">
											<div class="col-sm-4">
												<div class="button-title clearfix">
													<h4>{{ ('checkout.form.payment.'~method.vars.label|lower)|trans({},'website') }}</h4>
													<p>{{ ('checkout.form.payment.'~method.vars.label|lower~'_message')|trans({},'website') }}</p>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="button-thumb clearfix">
													<img src="{{ asset('bundles/universalidt/home/img/' ~ method.vars.label|lower ~ '.png') }}" alt="{{ method.vars.label }}">
													{{ form_widget(method) }}
												</div>
											</div>
											<div class="col-md-3">
												<div class="button-select clearfix">
													<span class="select-btn btn-primary">{{ 'checkout.form.payment.select'|trans({},'website') }}</span>
													<span class="select-btn btn-primary selected"><i class="fa fa-check"></i> {{ 'checkout.form.payment.selected'|trans({},'website') }}</span>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="clearfix">
										<button type="button" data-target="#delivery_method_tab" data-toggle="tab" class="btn btn-default"><i class="fa fa-chevron-left"></i> {{ 'checkout.form.payment.back_link'|trans({},'website') }}</button>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="text-right clearfix">
										<button id="go_to_order" type="button" data-target="#order_review_tab" data-toggle="tab" class="btn btn-primary" disabled>{{ 'checkout.form.payment.continue_link'|trans({},'website') }} <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="order_review_tab"><!-- ORDER TAB -->
							<div class="basket clearfix">
								<h2 class="section-title">{{ 'checkout.form.review.title'|trans({},'website') }}</h2>
								<div class="table-responsive">
									<table class="table">
										<thead>
										<tr>
                                            <th colspan="2">{{ 'checkout.form.review.item'|trans({},'website') }}</th>
                                            <th>{{ 'checkout.form.review.type'|trans({},'website') }}</th>
                                            <th>{{ 'checkout.form.review.quantity'|trans({},'website') }}</th>
                                            <th>{{ 'checkout.form.review.denomination'|trans({},'website') }}</th>
                                            <th>{{ 'checkout.form.review.discount'|trans({},'website') }}</th>
                                            <th>{{ 'checkout.form.review.subtotal'|trans({},'website') }}</th>
										</tr>
										</thead>
										<tbody>
										{% for row in data %}
											{% if row.type == "buy" %}
												<tr>
													<td><img src="{{ asset(row.product.webPath) }}" style="max-height: 40px;" alt="Thumbnail"></td>
													<td>{{ row.product.name }}</td>
													<td>New Card</td>
													<td>{{ row.count }}</td>
													<td>{{ row.denomination|number_format(2) }} {{ currency|upper }}</td>
													<td>{{ row.discount|number_format(2) }}</td>
													<td>{{ row.row_total|number_format(2) }}</td>
												</tr>
											{% else %}
												<tr>
													<td><img src="{{ asset(row.product.webPath) }}" style="max-height: 40px;" alt="Thumbnail"></td>
													<td>{{ row.product.name }}</td>
													<td>Recharge</td>
													<td>{{ row.count }}</td>
													<td>{{ row.denomination|number_format(2) }} {{ currency|upper }}</td>
													<td>{{ row.discount|number_format(2) }}</td>
													<td>{{ row.row_total|number_format(2) }}</td>
												</tr>
											{% endif %}
										{% endfor %}
										</tbody>
										<tfoot>
										<tr class="total">
											<td colspan="6">{{ 'checkout.form.review.total'|trans({},'website') }}</td>
											<td>{{ sum_total|number_format(2) }} {{ currency|upper }}</td>
										</tr>
										</tfoot>
									</table>
								</div>

								<div class="order-summery-panel clearfix">
									<h2 class="section-title">{{ 'checkout.form.summary.title'|trans({},'website') }}</h2>
									<p>{{ 'checkout.form.summary.paragraph'|trans({},'website') }}</p>
									<div class="table-responsive">
										<table class="table table-bordered table-hover">
											<tbody>
											<tr>
												<td>{{ 'checkout.form.summary.subtotal'|trans({},'website') }}</td>
												<td>{{ sum_total|number_format(2) }}</td>
											</tr>
											<tr>
												<td>{{ 'checkout.form.summary.tax'|trans({},'website') }}</td>
												<td>{{ sum_vat|number_format(2) }}</td>
											</tr>
											<tr>
												<td>{{ 'checkout.form.summary.delivery'|trans({},'website') }} <span id="delivery_method_label_summary"></span></td>
												<td id="delivery_method_summary">--</td>
											</tr>
											</tbody>
											<tfoot>
											<tr class="total">
												<td>{{ 'checkout.form.summary.total'|trans({},'website') }}</td>
												<td>{{ sum_total|number_format(2) }} {{ currency|upper }}</td>
											</tr>
											</tfoot>
										</table>
									</div>
								</div>

								<h2 class="section-title">{{ 'checkout.form.review.agree.title'|trans({},'website') }}</h2>
								<p><span style="color:#ff0000">*</span> {{ 'checkout.form.review.agree.footermessage'|trans({},'website') }}</p>

								<div class="form-group">
									<div class="checkbox">
										<label>
											{{ form_widget(form.agree) }} <span>{{ 'checkout.form.review.agree.text'|trans({
													'%link1%': '<a href="#">'~('checkout.form.review.agree.link1'|trans({},'website'))~'</a>',
													'%link2%': '<a href="#">'~('checkout.form.review.agree.link2'|trans({},'website'))~'</a>',
												},'website')|raw }}</span>
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="clearfix">
											<button type="button" data-target="#payment_method_tab" data-toggle="tab" class="btn btn-default"><i class="fa fa-chevron-left"></i> {{ 'checkout.form.review.back_link'|trans({},'website') }}</button>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="text-right clearfix">
											{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ form_rest(form) }}
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function changeDeliveryMethod()
		{
			var deliveryMethod_label = $('#delivery_method_label_summary');
			var deliveryMethod = $('#delivery_method_summary');

			if($('input#{{ form.email.vars.id }}').val() == '') {
				deliveryMethod_label.html('<a href="#delivery_method_tab" onclick="goToTabDelivery(event)"><img style="height: 15px" src="{{ asset('bundles/universalidt/img/notifications/alert-32.png') }}"></a>');
				deliveryMethod.html('--');
			}
			else {
				deliveryMethod_label.html('');
				deliveryMethod.html('{{ 'checkout.form.summary.deliveryMethods.email'|trans({},'website') }}');
			}
		}

		function goToTabDelivery(e)
		{
			e.preventDefault();

			$('#myTab a[href="#delivery_method_tab"]').tab('show');
		}
	</script>
{% endblock content %}