<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/universalidt/img/favicon.ico') }}" />
    <title>{{ 'checkout.result_print.title'|trans({'%id%':orderDetail.id},'application') }}</title>
    <link href="{{ asset('bundles/universalidt/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/universalidt/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <style>
        @media print
        {
            .no-print
            {
                display: none;
            }
        }
    </style>
</head>

<body>
<div class="no-print" style="text-align: center; margin: 10px">
    <a type="button" class="btn btn-success" href="#" onclick="window.print();">{{ 'checkout.result_print.print'|trans({},'application') }}</a>
    <a type="button" class="btn btn-default" href="#" onclick="window.close();">{{ 'checkout.result_print.close'|trans({},'application') }}</a>
</div>
<div class="row" style="margin: 10px">
    <div class="col-md-12">
        <div class="widget stacked">

            <div class="widget-header">
                <h3>Payment Result</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th>OrderID</th>
                            <td>{{ orderDetail.id }}</td>
                        </tr>
                        <tr>
                            <th>Reference</th>
                            <td>{{ orderDetail.orderReference }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ orderDetail.paymentStatus|readable('PaymentStatusEnumType') }}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>{{ orderDetail.amount|number_format(2) }} {{ orderDetail.currency|upper }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ orderDetail.date|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Method</th>
                            <td>{{ orderDetail.paymentMethod|readable('PaymentMethodEnumType') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>