{% extends '@UniversalIDT/WebPage/layout.html.twig' %}

{% block title %}Universal IDT | Checkout Result{% endblock %}

{% block content %}
    <div class="checkout-section clearfix" id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h3>Payment Result</h3>
                    </div>
                    <div class="section-content clearfix">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ orderDetail.paymentId }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ orderDetail.paymentStatus|readable('PaymentStatusEnumType') }}</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>{{ orderDetail.date|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Method</th>
                                    <td>{{ orderDetail.paymentMethod|readable('PaymentMethodEnumType') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        {% if orderDetail.paymentStatus == constant("Universal\\IDTBundle\\DBAL\\Types\\PaymentStatusEnumType::STATUS_ACCEPTED") %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="{{ path('user_order_details', {'id': orderDetail.id}) }}" class="btn btn-success">Go to Details</a>
                            {% else %}
                                <a href="{{ path('WebPage_order_details') }}" class="btn btn-success">Go to Details</a>
                                <span style="color: #ff0000">This link is active for {{ maxMinutesShow }} minutes and {{ maxCountShow }} times.</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}