{% block subject %}{{ 'emails.title.checkout_result'|trans({},'application') }}{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h4 style="margin-bottom: 20px">{{ 'emails.hello'|trans({'%first_name%':app.user.firstName},'application') }}</h4>
    {% endif %}
    <div style="margin-bottom: 20px">
        <h3>General information</h3>
        <table border="1">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ order.paymentId }}</td>
                <th>Date</th>
                <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Payment Status</th>
                <td>{{ order.paymentStatus|readable('PaymentStatusEnumType') }}</td>
                <th>Payment method</th>
                <td>{{ order.paymentMethod|readable('PaymentMethodEnumType') }}</td>
            </tr>
            <tr>
                <th>Delivery method</th>
                <td colspan="3">
                    {% set delivery = order.deliveryEmail ? "<div>Email: " ~ order.deliveryEmail ~ "</div>" : "" %}
                    {% set delivery = delivery ~ ( order.deliverySMS ? "<div>SMS: " ~ order.deliverySMS ~ "</div>" : "" ) %}
                    {{ delivery != "" ? delivery|raw : "--" }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-bottom: 20px">
        <h3>Order Details</h3>
        <table border="1">
            <thead>
            <tr>
                <th>Card name</th>
                <th>Denomination</th>
                <th>Vat</th>
                <th>Serial number</th>
                <th>Pin</th>
            </tr>
            </thead>

            <tbody>
            {% set vat = 0 %}
            {% for orderProduct in order.orderProducts %}
                {% set vat = vat + OrderServices.calcVat(orderProduct.product, orderProduct.pinDenomination) %}
                <tr>
                    <td>{{ orderProduct.product.name }}</td>
                    <td>{{ orderProduct.pinDenomination|number_format(2) }} {{ orderProduct.product.currency|upper }}</td>
                    <td>{{ orderProduct.vat~'%' }}</td>
                    <td>{{ orderProduct.ctrlNumber }}</td>
                    <td>{{ orderProduct.formattedPin }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-bottom: 20px">
        <h3>Order Summary</h3>
        <p>Shipping and additional costs are calculated based on the values you have entered.</p>
        <table border="1">
            <tbody>
            <tr>
                <th>Order subtotal</th>
                <td id="basket_summary_subtotal">{{ order.amount|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td id="basket_summary_tax">{{ vat|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Delivery Method</th>
                <td id="basket_summary_email">
                    {% set delivery = order.deliveryEmail ? "<div>Email: " ~ order.deliveryEmail ~ "</div>" : "" %}
                    {% set delivery = delivery ~ ( order.deliverySMS ? "<div>SMS: " ~ order.deliverySMS ~ "</div>" : "" ) %}
                    {{ delivery != "" ? delivery|raw : "--" }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="total">
                <th>Total</th>
                <td id="basket_summary_total">{{ order.amount|number_format(2) }} {{ order.currency|upper }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <br /><br />
    <h4>
    {{ 'emails.greetings'|trans({},'application') }}
    </h4>
{% endblock %}