{% block subject %}{{ 'emails.title.registration'|trans({},'application') }}{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ 'emails.hello'|trans({'%first_name%':user.firstName},'application') }}
    <br /><br />
    {{ 'emails.confirm_url'|trans({'%url%':'<a href="'~ confirmationUrl ~'">'~ ('emails.confirm_url_link'|trans({},'application')) ~'</a>'},'application')|raw }}
    <br /><br />
    {{ 'emails.greetings'|trans({},'application') }}
    {% endautoescape %}
{% endblock body_text %}

{% block body_html %}
    {{ 'emails.hello'|trans({'%first_name%':user.firstName},'application') }}
    <br /><br />
    {{ 'emails.confirm_url'|trans({'%url%':'<a href="'~ confirmationUrl ~'">'~ ('emails.confirm_url_link'|trans({},'application')) ~'</a>'},'application')|raw }}
    <br /><br />
    {{ 'emails.greetings'|trans({},'application') }}
{% endblock body_html %}